MainWindow #searchPane #translateLine, MainWindow #searchPane #wordList
{
	background: #2A2928;
	color: #D4D2CF;
}
MainWindow #translateLine, ScanPopup #translateLine, MainWindow #wordList, MainWindow #dictsPane #dictsList, MainWindow #historyPane #historyList, MainWindow #favoritePane #favoriteList
{
	background: #2A2928;
    color: #D4D2CF
}
